<div class ="jumbotron">
	<center>
		<h1>Welcome to my Donut Shop!</h1>
		 <img src="http://bit.ly/1Mq4to0" class=responsive id="home_donut">
		<%= link_to "Come grab a donut!", donuts_path, class: "btn btn-defaut"%>
	</center>
</div>	
